<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="static/assets_home/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="static/assets_home/fonts/font-awesome.min.css">
</head>

<body id="page-top" style="background-color: rgb(52,54,68);">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/" style="font-family: 'Kaushan Script', cursive;font-weight: bold;font-style: normal;">BARDOS</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button"
                data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/services">Services</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/about">About</a></li>
                    
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <script src="static/assets_home/js/jquery.min.js"></script>
    <script src="static/assets_home/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="static/assets_home/js/agency.js"></script>
</body>

</html>